.carrito {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.carrito__boton-container {
  display: flex;
  justify-content: center;
}

.carrito__boton {
  display: flex;
  color: #ffffff;
  background-color: #000000;
  height: 4rem;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 800;
  border: none;
}

.carrito__boton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carrito__tabla {
  width: 100%;
  border-collapse: collapse;
}

.carrito__total {
  align-self: flex-end;
}
