.producto {
  display: grid;
  grid-template-areas: "aside"
 "aside"
 "aside"
 "aside";
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .producto {
    grid-template-areas: "main aside"
                         "main aside"
                         "main aside"
                         "main aside";
    grid-template-columns: 1fr 2fr;
    column-gap: 3rem;
  }
}

.producto__sticky {
  display: none;
}

@media (min-width: 768px) {
  .producto__sticky {
    display: contents;
    grid-area: main;
    }
}

.producto__info {
  position: sticky;
  top: 12.8rem;
}

.producto__detalle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.producto__precio {
  font-size: 1.6rem;
  margin-bottom: 15rem;
}

.producto__color {
  height: 15rem;
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.producto__miniatura {
  border: 1px solid #E1E1E1;
}

.producto__miniatura:hover {
  cursor: pointer;
}

.producto__talle {
  border-bottom: none;
}

.producto__talle,
.producto__talle-responsive {
  width: 100%;
  font-size: 1.6rem;
  height: 4rem;
}

.producto__boton,
.producto__boton-responsive {
  color: #ffffff;
  background-color: #8c52ff;
  width: 100%;
  height: 4rem;
  border: none;
  font-family: "Monument Extended", sans-serif;
  margin-top: 2rem;
}

.producto__boton:hover,
.producto__boton-responsive:hover {
  cursor: pointer;
}

.producto__img {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 2rem; }
